/* Baseline */
.github-fork-ribbon {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

/* Customizations */
.site-header .header-container {
    margin-left: 2em;
}

.site-header .subtitle {
    line-height: 1.6em;
}

.translations-details {
    height: 44em;
}

.github-embed-container {
    height: 100%;
}

.github-gafam-poster-translations {
    height: 90%;
}

.resource-card-image {
    width: 75% !important;
    margin-left: 3.7em;
}

.resource-card-content {
    height: 13em;
}

.resource-card-description {
    height: 10em;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clearfix {
    clear: both;
}
