/* Baseline */
.github-fork-ribbon {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

/* Customizations */
.site-header .header-container {
    margin-left: 2em;
}

.site-header .subtitle {
    line-height: 1.6em;
}

.translations-details {
    height: 44em;
}

.github-embed-container {
    height: 94%;
}

.github-gafam-poster-translations {
    height: 90%;
}

.full-width {
    width: 100%;
}

.has-emphasized-links a {
    color: black;
    font-weight: bold;
}

.image-shadow {
    box-shadow: .0rem .0rem .4rem .05rem black;
}

.image-shadow-white {
    box-shadow: .0rem .0rem .4rem .05rem white;
}

.library-link:hover, .library-link.is-hovered {
    color: #276cda;
}
