/* Baseline */
.github-fork-ribbon {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

/* Customizations */
.site-header .header-container {
    margin-left: 2em;
}

.site-header .subtitle {
    line-height: 1.6em;
}

.github-gafam-poster-translations {
    height: 44em;
}
.resource-card-image {
    width: 75% !important;
    margin-left: 3em;
}

